*{
    margin: 0;
    padding: 0;
    font-family: Muli;
}
.img-intro{
    width: 50%;
    height: 50%;
}
.header {
    margin-top: 56px;
    margin-left: 191px;
}
.menu{
    /* margin-right: 192px; */
    
}
.menu a{
    color: #1F1534;
    opacity: 0.5;
}
.menu a{
    padding-right: 20px;
}
.header .logo{
    position: relative;
    top: -20px;
}
.header .logo span{
    background-color:#458FF6;
    color: #ffffff;
    width: 41px;
    height: 41px;
    font-weight: 700;
    font-size: 26px;
    font-style: normal;
    text-align: center;
    margin-right: 12px;
}
.header .logo h2{
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
    color: #233348;
    padding: 5px;
}
.content .intro h1{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    width: 414px;
    margin-bottom: 25px;
}
.content .intro p{
    font-weight: 300px;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
    margin-bottom: 45px;
}
.content .intro button{
    background-color: #458FF6;
    color: #ffffff;
    border: none;
    padding: 20px 40px;
    border-radius: 55px;
    cursor: pointer;
}
.content .intro button:hover{
    background-color: black;
    transition: background-color 0.5s;
    opacity: 0.5;
}
.services .title ,.text{
    text-align: center;
}
.services .title{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    margin-bottom: 61px;
    /* border-bottom: solid #000; */
}
.services .title::after{
    content: " ";
    position: absolute;
    display: block;
    left: 46%;
    bottom: -26px;
    width: 8%;
    height: 2px;
    background-color: #111;
}
.services .text{
    line-height: 30px;
    font-weight: 300;
    font-size: 18px;
    font-style: normal;
    color: #7D7987;
}
.services .button{
    text-align: center;
    margin-top: 69px;
    cursor: pointer;
}
.services .button button{
    line-height: 60px;
    font-weight: 700;
    font-size: 18px;
    background-color: #fff;
    color: #458FF6;
    /* border: none; */
    padding: 5px 50px;
    border-radius: 55px;
    border: 2px solid #458FF6;
    /* border: 2px #458FF6; */
    cursor: pointer;
}
.services .button button:hover{
    background-color: black;
    transition: background-color 0.5s;
    opacity: 0.5;
    color: #fff;
    /* border: none; */
}
.our-services .row img{
    width: 18%;
    /* height: 18%; */
}
.our-services .row .search, .online-pharmacy, .consultation
, .detail-info, .emergency-care, .tracking{
    background-color: #ffffff;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    margin: 17px;
    border-radius: 20px;
}
.our-services h2{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}
.our-services p{
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    font-style: normal;
    color: #7D7987;
}
.providers img, .download img{
    width: 50%;
    height: 50%;
}
.providers{
    margin-top: 220px;
}
.providers h1, .download h1{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
    position: relative;
}
.providers p, .download p{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
    margin-top: 51px;
    width: 100%;
    
}
.providers h1::after{
    content: " ";
    position: absolute;
    display: block;
    width: 15%;
    height: 2px;
    background-color: #111;
    bottom: -26px;
}
.providers button{
    margin-top: 21px;
    line-height: 60px;
    font-weight: 700;
    font-size: 18px;
    background-color: #fff;
    color: #458FF6;
    /* border: none; */
    padding: 5px 50px;
    border-radius: 55px;
    border: 2px solid #458FF6;
    width: 50%;
    cursor: pointer;
}
.providers button:hover{
    background-color: black;
    transition: background-color 0.5s;
    opacity: 0.5;
    color: #fff;
}
.download{
    margin-top: 229px;
}
.download h1{
    width: 60%;
    /* position: relative; */
}
.download p{
    width: 80% !important;
}
.download h1::after{
    content: " ";
    position: relative;
    display: block;
    height: 2px;
    background-color: #111;
    bottom: -30px;
    width: 25%;
}
.download button{
    margin-top: 21px;
    line-height: 60px;
    font-weight: 700;
    font-size: 18px;
    background-color: #fff;
    color: #458FF6;
    /* border: none; */
    /* padding: 5px; */
    padding-right: 50px;
    padding-left: 20px;
    border-radius: 55px;
    border: 2px solid #458FF6;
    width: 40%;
    cursor: pointer;
}
.download button:hover{
    background-color: black;
    transition: background-color 0.5s;
    opacity: 0.5;
}
.feedback h1::after{
    content: " ";
    display: block;
    width: 10%;
    height: 2px;
    background-color: #fff;
    position: relative;
    right: -45%;
    top: 30px;
}
.article img{
    height: 45%;
    width: 100%;
}
.article{
    background-color: #fff;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    margin-left: 17px;
}
.article h2{
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    color: #000000;
    margin-top: 20px;
}
.article p{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
}
.article-title h1::after{
    content: " ";
    display: block;
    background-color: #000000;
    height: 2px;
    width: 10%;
    position: relative;
    right: -45%;
    top: 30px;
}
.article-title button{
    border-radius: 55px;
    cursor: pointer;
}
.footer{
    margin-top: 201px;
    color: #FFFFFF;
}
.footer .info{
    width: 40%;
    margin: 0 100px;
}
.footer .company{
    margin-right: 75px;
}
.footer .info .logo-footer h2{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}
.footer .info .logo-footer{
    margin-bottom: 30px;
}
.footer .info p{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}
.footer .logo-footer span{
    border-radius: 35px;
    color: #5B9BF3;
    background-color: #fff;
    width: 41px;
    height: 41px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    margin-right: 20px;
}
.footer .company h2{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
}
.footer .company ul a{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    color: #fff;
}
.footer .company ul{
    width: max-content;
}
.view-all-bt:hover{
    background-color: #6c757d;
    transition: background-color 0.5s;
    opacity: 0.5;
}